.main {
    text-align: center;
}



img {
    max-width: 10%;
    max-height: 10%;
    object-fit: cover;
    background-color: black;

}

.digital p {
    font-style: italic;
    background-color: aliceblue;
}

.analog p {
    background-color: antiquewhite;
}

.second p {
    background-color: azure;
    text-align: justify;
}

.digital p a {
    font-weight: bold;
    font-style: italic;
    color: black;

}

.second p a {
    font-weight: bold;
    font-style: italic;
    color: black;
}

.analog p a {
    font-weight: bold;
    font-style: italic;
    color: black
}